<% if @related_questions %>
  <div class="search-bar results">
<% else %>
  <div class="search-bar home">
  <div class="home-header ui header">Ask all technical questions and get all accepted answers on StackOverflow in real time.</div>
<% end %>
    <div class="home-search ui action input">
      <input type="text" placeholder="Search..." value="" name="query">
      <button class="ui button search-btn">Search</button>
    </div>
</div>

<% if @related_questions %>
  <div class="ui container center main-container">

    <div class="ui left aligned container">
      <div class="container-item">
        <h3>Showing results for: <%= @query %></h3>
      </div>
    </div>


    <% @related_questions.each do |question| %>
      <div class="ui left aligned container">
        <div class="container-item">
          <p>Question: <a href="<%= question["link"] %>"><%= question["title"] %></a></p>
          <p> &nbsp; Accepted answer: <%= question["answer_data"]["body"].html_safe %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>


  let value = ""
  $('input').on('input', function(){
    value = $('input').val()
  })

  $('.button').click(function() {
    window.location = `/search/{${value}}`
  });

  function addUtilityClasses(){
    if($(window).width() > 617) {
      $( ".home-search" ).addClass( "massive" );
      $( ".home-header" ).addClass( "huge" );
      let v = $('input').val()
      console.log(v)
    }
    else {
      $( ".home-search" ).removeClass( "massive" );
      $( ".home-header" ).removeClass( "huge" );
    }
  }
  $(document).ready(function(){
    addUtilityClasses()
  })

  $(window).resize(addUtilityClasses);
</script>
